<header>
    <nav class="w-full flex flex-row justify-around py-4 text-xl border-b-2 border-primary dark:border-primary-dark">
        <div>
            <a href="">El Oráculo</a>
        </div>
        <div>
            <a href="#" class="py-2 px-4 hover:bg-primary hover:text-background dark:hover:bg-primary-dark dark:hover:text-background-dark">Blog</a>
            <a href="#" class="py-2 px-3 hover:bg-primary hover:text-background dark:hover:bg-primary-dark dark:hover:text-background-dark">Agenda tu hora</a>
            <a href="#" class="py-2 px-4 hover:bg-primary hover:text-background dark:hover:bg-primary-dark dark:hover:text-background-dark">Tienda</a>
            <button class="theme cursor-pointer">
                Dark
            </button>
        </div>
    </nav>
</header>

<script>
    const buttonTheme = document.querySelector("button.theme")
    const html = document.querySelector("html")
    buttonTheme?.addEventListener("click", () => {
        if(html?.classList.contains("dark")) {
            html?.classList.remove("dark")
            buttonTheme.textContent = "Light"
        } else {
            html?.classList.add("dark")
            buttonTheme.textContent = "Dark"
        }
    })
</script>